<%=

   tagger = Tagger.new(h(@user_state.temp_current_data))
   tagger.replace_spaces_with_tags
   if @user_state.temp_highlight_length != 0
     tagger.add_tags("<span class='highlight'>", @user_state.temp_highlight_start, 
                     "</span>", @user_state.temp_highlight_start + @user_state.temp_highlight_length)
   end

   if @user_state.last_mark_position != 0
     tagger.add_tags("<span class='mark'>", @user_state.current_position, "</span>", @user_state.last_mark_position)
   end

   tagger.add_tags("<span class='cursor'>", @user_state.current_position, 
                     "</span>", @user_state.current_position + 1)
   
   tagger.display_content.html_safe
   
 %>
