<% if @content.nil? or @content.empty?
   @content = "ERROR: no content"
end
%>
<%=
   print @highlight_length.to_s
   if @highlight_length == 0
 h(@content).gsub("\n", "<br />").html_safe
else
   start = h(@content[0...@highlight_start])
   middle = h(@content[@highlight_start...(@highlight_start+@highlight_length)])
   last = h(@content[(@highlight_start+@highlight_length)..-1])
   
   display_content = start + "<span class='highlight'>".html_safe + middle + "</span>".html_safe + last
   display_content = display_content.gsub("\n", "<br />").html_safe
   print "DISPLAY" + display_content
   display_content
end
 %>
