<%= fields_for @action_type do |f| %>
<p>
<% 
arguments = @action_type.make_arguments
arguments.each do |arg|
%>
<%= label_tag :key, arg.name.to_s %>
<%= hidden_field_tag :key, arg.key.to_s %>
<%= text_field_tag :value, arg.value.to_s %>

<% end %>
</p>
<% end %>

