<span class="title">Hello, user!</span>
<ul class="data_rows">
<%
   from = 0
   to = 0

   if params[:from]
     from = params[:from].to_i
   end
   if params[:to]
     to = params[:to].to_i
   end

   @data.slice(from..to).each do |datum| 

%>
<li class="data_row">
  <span class="title"><%= link_to 'Data piece ' + datum.id.to_s, datum %></span>
</li>
  
<% end %>
<br />
<%= link_to 'Create a new piece of data', new_datum_path %>

