<span class="title"><%= if current_user then "Hello, " + current_user.name else "Welcome!" end %></span>
<ul class="data_rows">
<%
   from = (params[:from] || 0).to_i
   to = (params[:to] || 10).to_i

   @data.slice(from...to).each do |datum| 

%>
<li class="data_row">
  <span class="title"><%= link_to 'Data piece ' + datum.id.to_s, datum %></span>
</li>
  
<% end %>
<br />
<%= link_to 'Create a new piece of data', new_datum_path %>

