<p id="notice"><%= notice %></p>

<div id="container">
<div id="content">
  <%= @datum.content %>
</div>

<div id="sidebar">
<% @datum.action_list.action_types.each do |action_type| %>
  Action Type <%= action_type %>
<% end %>
</div>  

</div>

<%= link_to 'Edit', edit_datum_path(@datum) %>

