/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.title {
    font-weight: bold;
}

/* http://colorschemedesigner.com/#3x21TeJ--w0w0 */
body {
    background-color: #91cfff;
    color: #2F72A6;
    font-family: 'Asap', sans-serif;

}
#wrap {
    border: 10px solid #C3E5FF;
    padding: 50px;
    margin: 50px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: auto;

}

strong {
    color: #FFD073;
}

a {
    color: #A6722D;
}

ul
{
    list-style-type: none;
    padding: 0;
}

li
{
    margin-left: 0px;
}

.highlight
{
    background-color: #ffff40;
}

.mark
{
    color: red;
}

.cursor
{
    padding-left: 0px;
    /* border-left: 1px solid black; */
    font-weight: bold;
    display: inline-block!important;
}

.selected
{
    font-weight: bold;
}