$border_radius: 15px;
$border_size: 2px;
$margin_size: 5px;
$padding_size: 15px;
$border_color: #82A4BF;

$total_width: 800px;

#container
{
    overflow: auto;
    min-width: $total_width;
}

#content
{
	margin: $margin_size;
	padding: $padding_size;
	border: $border_size solid $border_color;
	border-radius: $border_radius;
	-moz-border-radius: $border_radius;

	height: 700px;
	overflow: auto;

	width: 0.6 * $total_width;
	float: left;
}

#textarea_content
{
	width: 0.5 * $total_width;
}

#sidebar
{
	margin: $margin_size;
	padding: $padding_size;
	border: $border_size solid $border_color;
	border-radius: $border_radius;
	-moz-border-radius: $border_radius;

	float: right;
	width: 0.2 * $total_width;
}